<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title></title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <script src="../../js/jquery-3.1.0.js"></script>
    <script src="../../js/bootstrap.js"></script>

    <!-- Vue -->
    <script src="../../js/vue.js"></script>

    <!-- Autobahn JS -->
    <!--<script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>-->
    <script src="../../js/autobahn.js"></script>

    <!-- Blitz! -->
    <script src="../../js/data-blitz.js"></script>


</head>
<body>



<div id="app">

    <div class="container">

        <div class="alert alert-success" role="alert">
            {{server.msg}}
        </div>

        <h1>The interactive TODO list</h1>
        <p>How would you make the world a better place?</p>
        <p>Try this example with the page loaded in multiple browser windows.</p>
        <div class="row">
            <div class="col-md-8">
                <h4>TODOs</h4>
                <p>
                    Enter your next to-do:<br>
                    <input v-model="input" id="todoinput">
                    <button type="button" v-on:click="call('save', input)" class="btn btn-danger">OK</button>
                </p>
               <p>Created: {{server.added}}<br>
                   Completed: {{server.completed}}
                </p>

                <p>Open:</p>
                <ul>
                    <li v-for="todo in server.todos">
                        <input type="checkbox" v-on:click="call('done', todo.id)"> <strong>{{todo.title}}</strong> ({{todo.author}})
                    </li>

                </ul>
                </p>

            </div>

            <div class="col-md-4">
                <p>
                    Logged in as <strong>{{username}}</strong>
                </p>
                <br>

                <h4>Currently logged on users</h4>
                <ul>
                    <li v-for="item in server.users" track-by="$index">
                        <td>{{item}}</td>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Login modal dialog -->
    <div id="loginbox" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Who are you?</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="username">Please choose your username</label>
                        <input v-model="username" id="username">
                        <!--<p class="help-block">Example block-level help text here.</p>-->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="btn btn-primary" v-on:click="call('login', username)" class="btn btn-default" data-dismiss="modal" >Ok</button>
                </div>
            </div>

        </div>
    </div>


    <hr>
    <b>Debug server data</b>

    <ul id="repeat-object">
        <li v-for="value in server">
            {{ $key }} : {{ value }}
        </li>
    </ul>
    <hr>



</div>

<!-- Autobahn & Vue -->

<script>

    // Vue config

    var vm = new Vue({
        el: '#app',
        data: {
            username: '',
            input: '',

            // This data can be updated server-side for all clients using blitz.publishData()
            server: {
                added: 0,
                completed: 0,
                todos: [],
                users: ['none', 'yet'],
                msg: ''
            }
        },
        methods: {
            // Map call() to Blitz
            call: function(event, data) {
                blitz.call(event, data);
            }
        }
    });


    // And now let's blitz..

    var blitz = new VueBlitz('ws://' +  window.location.hostname +':8083/ws1', 'realm1', vm);
    blitz.connect();

    // Show the user login dialog
    $('#loginbox').modal();



</script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins)  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>