<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title></title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Vue -->
    <script src="../../js/vue.js"></script>

    <!-- Autobahn JS -->
    <!--<script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>-->
    <script src="../../js/autobahn.js"></script>

    <!-- Blitz! -->
    <script src="../../js/data-blitz.js"></script>


</head>
<body>
<h1>Testing the DataBlitz!</h1>

<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>

<div id="app">
    <p>{{ message }}</p>

    <h2>{{ server.text }}</h2>
    <h2>{{ server.counter }}</h2>
    <br>

    <table>
        <tr v-for="item in server.list">
            <td>{{item}}</td>

        </tr>

    </table>

    <hr>
    <h2>Debug server data</h2>

    <ul id="repeat-object">
        <li v-for="value in server">
            {{ $key }} : {{ value }}
        </li>
    </ul>


    <p>
        Type in here, changes are sent to the server and all clients immediately<br>
        <input v-model="input" v-on:input="updateMessage()">
    </p>


    <p>
        <!-- Send an call 'save' to the server, which there is routed to the controller.save() method -->
        <button type="button" v-on:click="event('save')" class="btn btn-danger">Danger</button>
    </p>


</div>

<!-- Autobahn & Vue -->

<script>

    // Vue config

    var vm = new Vue({
        el: '#app',
        data: {
            input: '',
            text: 'app root',

            // This data can be updated server-side for all clients using blitz.publishData()
            server: {
                counter: 0,
                text: "initial",
                list: ["a", "b"]
            }

            // TODO: Find a solution for per-client data updated from either side
        },
        methods: {
            event: function(event) {
                blitz.call(event);
            },

            updateMessage: function(event) {
                blitz.call('updateMessage', vm.input);
            }
        }
    });


    // And now let's blitz..

    var blitz = new VueBlitz('ws://127.0.0.1:8083/ws1', 'realm1', vm);
    blitz.connect();




</script>








<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>